.main_content {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 2rem;
    border: 2px black solid;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
}

.copyright {
    text-align: center;
}

.headline_nav_img {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    max-height: 200px;
}

.headline_img img {
    width: 100%;
    height: 50%;
}

.column_break {
    border-bottom: solid black 2px;
}

img {
    height: 300px;
    width: 300px;
}

.space_between {
    display: flex;
    justify-content: space-between;
}